<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccuWeatherProjectAPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center text-danger">Ошибка</h1>
        <h2 class="text-center">Город не найден</h2>
        <div class="text-center">
            <a href="/" class="btn btn-secondary">Назад</a>
        </div>
    </div>
</body>
</html>
